In [2]:
# Limpiaremos y estandarizaremos la siguiente lista de clientes para un area de servicio, el cual debe llamar solo a los clientes que 
# especifiquen ser contactados.

In [4]:
import pandas as pd

In [14]:
df = pd.read_excel(r"C:\Users\valer\Downloads\Customer Call List.xlsx")
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,/Michael,Smith.,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Emily,Johnson.,123/643/9775,93 West Main Street,No,Yes,False
2,1012,/Jennifer,/Moore,7066950392,2394 Brooklin Avenue,Y,NaN,True
3,1004,.Sarah,Taylor//,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,James,...Anderson,876|678|3469,123 Dragons Road,Y,No,True
...,...,...,...,...,...,...,...,...
91,1092,Maya,Johnson,876|678|3473,102 Clue Drive,N,No,False
92,1093,Carter,Brown,N/a,127 Middle Earth,Yes,NaN,False
93,1094,/Penelope,Taylor,123-545-5425,"29th Main Street, New York",Yes,No,True
94,1095,Blake,Anderson,NaN,"616 Shire Lane, Shire",Yes,No,True
95,1087,…/Tyler,Perry,7066950396,298 Silent Driveway,N,NaN,True

In [16]:
#Eliminamos columnas que no son necesarias
df = df.drop(columns = "Not_Useful_Column")

In [18]:
#Eliminamos duplicados
df = df.drop_duplicates()
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,/Michael,Smith.,123-545-5421,"123 Shire Lane, Shire",Yes,No
1,1002,Emily,Johnson.,123/643/9775,93 West Main Street,No,Yes
2,1012,/Jennifer,/Moore,7066950392,2394 Brooklin Avenue,Y,NaN
3,1004,.Sarah,Taylor//,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,James,...Anderson,876|678|3469,123 Dragons Road,Y,No
...,...,...,...,...,...,...,...
91,1092,Maya,Johnson,876|678|3473,102 Clue Drive,N,No
92,1093,Carter,Brown,N/a,127 Middle Earth,Yes,NaN
93,1094,/Penelope,Taylor,123-545-5425,"29th Main Street, New York",Yes,No
94,1095,Blake,Anderson,NaN,"616 Shire Lane, Shire",Yes,No
95,1087,…/Tyler,Perry,7066950396,298 Silent Driveway,N,NaN

In [20]:
#Limpiamos las columnas de nombre y apellido que contienen caracteres distinto a letras
df["Last_Name"] = df["Last_Name"].str.strip("._/123")
df["First_Name"] = df["First_Name"].str.strip("._/123")
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Michael,Smith,123-545-5421,"123 Shire Lane, Shire",Yes,No
1,1002,Emily,Johnson,123/643/9775,93 West Main Street,No,Yes
2,1012,Jennifer,Moore,7066950392,2394 Brooklin Avenue,Y,NaN
3,1004,Sarah,Taylor,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,James,Anderson,876|678|3469,123 Dragons Road,Y,No
...,...,...,...,...,...,...,...
91,1092,Maya,Johnson,876|678|3473,102 Clue Drive,N,No
92,1093,Carter,Brown,N/a,127 Middle Earth,Yes,NaN
93,1094,Penelope,Taylor,123-545-5425,"29th Main Street, New York",Yes,No
94,1095,Blake,Anderson,NaN,"616 Shire Lane, Shire",Yes,No
95,1087,…/Tyler,Perry,7066950396,298 Silent Driveway,N,NaN

In [22]:
# Estandarizamos el numero de telefono utilizando funcion regex convirtiendo a string y luego aplicando una funcion lambda para reescribir el numero de telefono en formato estandar

df['Phone_Number'] = df['Phone_Number'].str.replace('[^a-zA-Z0-9]', '', regex=True)
df['Phone_Number'] = df['Phone_Number'].astype(str)
df["Phone_Number"] = df["Phone_Number"].apply(lambda x: str(x))
df["Phone_Number"] = df["Phone_Number"].apply(lambda x: x[0:3] + '-' + x[3:6] + '-' + x[6:10])

In [24]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Michael,Smith,123-545-5421,"123 Shire Lane, Shire",Yes,No
1,1002,Emily,Johnson,123-643-9775,93 West Main Street,No,Yes
2,1012,Jennifer,Moore,nan--,2394 Brooklin Avenue,Y,NaN
3,1004,Sarah,Taylor,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,James,Anderson,876-678-3469,123 Dragons Road,Y,No
...,...,...,...,...,...,...,...
91,1092,Maya,Johnson,876-678-3473,102 Clue Drive,N,No
92,1093,Carter,Brown,Na--,127 Middle Earth,Yes,NaN
93,1094,Penelope,Taylor,123-545-5425,"29th Main Street, New York",Yes,No
94,1095,Blake,Anderson,nan--,"616 Shire Lane, Shire",Yes,No
95,1087,…/Tyler,Perry,nan--,298 Silent Driveway,N,NaN

In [26]:
# Estandarizamos los valores nan-- y Na-- a en blanco

df["Phone_Number"] = df["Phone_Number"].str.replace('nan--','')

df["Phone_Number"] = df["Phone_Number"].str.replace('Na--','')

In [28]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Michael,Smith,123-545-5421,"123 Shire Lane, Shire",Yes,No
1,1002,Emily,Johnson,123-643-9775,93 West Main Street,No,Yes
2,1012,Jennifer,Moore,,2394 Brooklin Avenue,Y,NaN
3,1004,Sarah,Taylor,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y
4,1005,James,Anderson,876-678-3469,123 Dragons Road,Y,No
...,...,...,...,...,...,...,...
91,1092,Maya,Johnson,876-678-3473,102 Clue Drive,N,No
92,1093,Carter,Brown,,127 Middle Earth,Yes,NaN
93,1094,Penelope,Taylor,123-545-5425,"29th Main Street, New York",Yes,No
94,1095,Blake,Anderson,,"616 Shire Lane, Shire",Yes,No
95,1087,…/Tyler,Perry,,298 Silent Driveway,N,NaN

In [30]:
# Ordenamos la columna de Address, para que quede en 3 columnas distinta, para facilitar la lectura y búsqueda (calle, estado y zip)

df[["Street", "State", "Zip_Code"]] = df["Address"].str.split(',', n=2, expand=True)

In [32]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Street,State,Zip_Code
0,1001,Michael,Smith,123-545-5421,"123 Shire Lane, Shire",Yes,No,123 Shire Lane,Shire,None
1,1002,Emily,Johnson,123-643-9775,93 West Main Street,No,Yes,93 West Main Street,None,None
2,1012,Jennifer,Moore,,2394 Brooklin Avenue,Y,NaN,2394 Brooklin Avenue,None,None
3,1004,Sarah,Taylor,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,980 Paper Avenue,Pennsylvania,18503
4,1005,James,Anderson,876-678-3469,123 Dragons Road,Y,No,123 Dragons Road,None,None
...,...,...,...,...,...,...,...,...,...,...
91,1092,Maya,Johnson,876-678-3473,102 Clue Drive,N,No,102 Clue Drive,None,None
92,1093,Carter,Brown,,127 Middle Earth,Yes,NaN,127 Middle Earth,None,None
93,1094,Penelope,Taylor,123-545-5425,"29th Main Street, New York",Yes,No,29th Main Street,New York,None
94,1095,Blake,Anderson,,"616 Shire Lane, Shire",Yes,No,616 Shire Lane,Shire,None
95,1087,…/Tyler,Perry,,298 Silent Driveway,N,NaN,298 Silent Driveway,None,None

In [34]:
#Estandarizamos los valores de la columna, en una sola letra Y por si y N por No

df["Paying Customer"] = df["Paying Customer"].str.replace("Yes","Y")
df["Paying Customer"] = df["Paying Customer"].str.replace("No","N")

In [36]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Street,State,Zip_Code
0,1001,Michael,Smith,123-545-5421,"123 Shire Lane, Shire",Y,No,123 Shire Lane,Shire,None
1,1002,Emily,Johnson,123-643-9775,93 West Main Street,N,Yes,93 West Main Street,None,None
2,1012,Jennifer,Moore,,2394 Brooklin Avenue,Y,NaN,2394 Brooklin Avenue,None,None
3,1004,Sarah,Taylor,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Y,Y,980 Paper Avenue,Pennsylvania,18503
4,1005,James,Anderson,876-678-3469,123 Dragons Road,Y,No,123 Dragons Road,None,None
...,...,...,...,...,...,...,...,...,...,...
91,1092,Maya,Johnson,876-678-3473,102 Clue Drive,N,No,102 Clue Drive,None,None
92,1093,Carter,Brown,,127 Middle Earth,Y,NaN,127 Middle Earth,None,None
93,1094,Penelope,Taylor,123-545-5425,"29th Main Street, New York",Y,No,29th Main Street,New York,None
94,1095,Blake,Anderson,,"616 Shire Lane, Shire",Y,No,616 Shire Lane,Shire,None
95,1087,…/Tyler,Perry,,298 Silent Driveway,N,NaN,298 Silent Driveway,None,None

In [38]:
# Realizamos la misma estandarizacion para la columna de contacto, la cual más adelante debemos filtrar
df["Do_Not_Contact"] = df["Do_Not_Contact"].str.replace("Yes","Y")
df["Do_Not_Contact"] = df["Do_Not_Contact"].str.replace("No","N")

In [40]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Street,State,Zip_Code
0,1001,Michael,Smith,123-545-5421,"123 Shire Lane, Shire",Y,N,123 Shire Lane,Shire,None
1,1002,Emily,Johnson,123-643-9775,93 West Main Street,N,Y,93 West Main Street,None,None
2,1012,Jennifer,Moore,,2394 Brooklin Avenue,Y,NaN,2394 Brooklin Avenue,None,None
3,1004,Sarah,Taylor,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Y,Y,980 Paper Avenue,Pennsylvania,18503
4,1005,James,Anderson,876-678-3469,123 Dragons Road,Y,N,123 Dragons Road,None,None
...,...,...,...,...,...,...,...,...,...,...
91,1092,Maya,Johnson,876-678-3473,102 Clue Drive,N,N,102 Clue Drive,None,None
92,1093,Carter,Brown,,127 Middle Earth,Y,NaN,127 Middle Earth,None,None
93,1094,Penelope,Taylor,123-545-5425,"29th Main Street, New York",Y,N,29th Main Street,New York,None
94,1095,Blake,Anderson,,"616 Shire Lane, Shire",Y,N,616 Shire Lane,Shire,None
95,1087,…/Tyler,Perry,,298 Silent Driveway,N,NaN,298 Silent Driveway,None,None

In [42]:
#Eliminamos la columna Address que ya no es necesaria
df = df.drop(columns = "Address")

In [44]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Street,State,Zip_Code
0,1001,Michael,Smith,123-545-5421,Y,N,123 Shire Lane,Shire,None
1,1002,Emily,Johnson,123-643-9775,N,Y,93 West Main Street,None,None
2,1012,Jennifer,Moore,,Y,NaN,2394 Brooklin Avenue,None,None
3,1004,Sarah,Taylor,123-543-2345,Y,Y,980 Paper Avenue,Pennsylvania,18503
4,1005,James,Anderson,876-678-3469,Y,N,123 Dragons Road,None,None
...,...,...,...,...,...,...,...,...,...
91,1092,Maya,Johnson,876-678-3473,N,N,102 Clue Drive,None,None
92,1093,Carter,Brown,,Y,NaN,127 Middle Earth,None,None
93,1094,Penelope,Taylor,123-545-5425,Y,N,29th Main Street,New York,None
94,1095,Blake,Anderson,,Y,N,616 Shire Lane,Shire,None
95,1087,…/Tyler,Perry,,N,NaN,298 Silent Driveway,None,None

In [46]:
# Estandarizamos los valores generales de la tabla de na a vacio
df = df.fillna('')

In [48]:
# Estandarizamos los valores generales de la tabla de N/a a vacio
df = df.replace('N/a','')

In [50]:
df

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Street,State,Zip_Code
0,1001,Michael,Smith,123-545-5421,Y,N,123 Shire Lane,Shire,
1,1002,Emily,Johnson,123-643-9775,N,Y,93 West Main Street,,
2,1012,Jennifer,Moore,,Y,,2394 Brooklin Avenue,,
3,1004,Sarah,Taylor,123-543-2345,Y,Y,980 Paper Avenue,Pennsylvania,18503
4,1005,James,Anderson,876-678-3469,Y,N,123 Dragons Road,,
...,...,...,...,...,...,...,...,...,...
91,1092,Maya,Johnson,876-678-3473,N,N,102 Clue Drive,,
92,1093,Carter,Brown,,Y,,127 Middle Earth,,
93,1094,Penelope,Taylor,123-545-5425,Y,N,29th Main Street,New York,
94,1095,Blake,Anderson,,Y,N,616 Shire Lane,Shire,
95,1087,…/Tyler,Perry,,N,,298 Silent Driveway,,

In [52]:
# Filtramos las filas, que tienen la opción de No contactar

for x in df.index:
    if df.loc[x,"Do_Not_Contact"] == 'Y':
        df.drop(x, inplace = True)

df

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Street,State,Zip_Code
0,1001,Michael,Smith,123-545-5421,Y,N,123 Shire Lane,Shire,
2,1012,Jennifer,Moore,,Y,,2394 Brooklin Avenue,,
4,1005,James,Anderson,876-678-3469,Y,N,123 Dragons Road,,
6,1007,Robert,Davis,,N,N,1209 South Street,,
7,1008,Jessica,Garcia,876-678-3469,N,N,98 Clue Drive,,
...,...,...,...,...,...,...,...,...,...
91,1092,Maya,Johnson,876-678-3473,N,N,102 Clue Drive,,
92,1093,Carter,Brown,,Y,,127 Middle Earth,,
93,1094,Penelope,Taylor,123-545-5425,Y,N,29th Main Street,New York,
94,1095,Blake,Anderson,,Y,N,616 Shire Lane,Shire,
95,1087,…/Tyler,Perry,,N,,298 Silent Driveway,,

In [54]:
# y también filtramos las filas, que no tienen numero de telefono que no sirven
for x in df.index:
    if df.loc[x,"Phone_Number"] == '':
        df.drop(x, inplace = True)

df

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Street,State,Zip_Code
0,1001,Michael,Smith,123-545-5421,Y,N,123 Shire Lane,Shire,
4,1005,James,Anderson,876-678-3469,Y,N,123 Dragons Road,,
7,1008,Jessica,Garcia,876-678-3469,N,N,98 Clue Drive,,
9,1010,Amanda,Wilson,123-545-5421,Y,N,25th Main Street,New York,
11,1016,Sophia,Martin,123-545-5421,N,N,2394 Brooklin Avenue,,
12,1013,Daniel,Jackson,123-543-2345,Y,N,2039 Main Street,,
13,1014,Elizabeth,White,876-678-3469,Y,N,343 City Parkway,,
14,1015,Matthew,Harris,304-762-2467,N,N,214 HR Avenue,,
16,1017,Christopher,Thompson,123-643-9775,Y,N,121 Paper Avenue,Pennsylvania,
19,1020,Olivia,Young,876-678-3469,Y,N,910 Tatooine Road,Tatooine,
20,1021,Joshua,Clark,876-678-3469,Y,N,910 Tatooine Road,Tatooine,
21,1022,Hannah,Hall,123-545-5422,Y,N,124 Shire Lane,Shire,
23,1037,Joseph,Phillips,123-545-5422,N,N,2394 Brooklin Avenue,,
25,1026,Isabella,King,876-678-3470,Y,N,124 Dragons Road,,
28,1029,Noah,Adams,876-678-3470,N,N,99 Clue Drive,,
30,1031,Nathan,Hill,123-545-5422,Y,N,26th Main Street,New York,
33,1034,Madison,Mitchell,123-543-2346,Y,N,2040 Main Street,,
34,1035,Benjamin,Roberts,876-678-3470,Y,N,344 City Parkway,,
35,1036,Ava,Carter,304-762-2468,N,N,215 HR Avenue,,
36,1058,Layla,Gomez,123-545-5423,N,N,2394 Brooklin Avenue,,
37,1038,Natalie,Evans,123-643-9776,Y,N,122 Paper Avenue,Pennsylvania,
40,1041,Logan,Parker,876-678-3469,Y,N,910 Tatooine Road,Tatooine,
41,1042,Lily,Collins,876-678-3469,Y,N,910 Tatooine Road,Tatooine,
42,1043,Elijah,Edwards,123-545-5423,Y,N,125 Shire Lane,Shire,
46,1047,Gabriel,Nguyen,876-678-3471,Y,N,125 Dragons Road,,
49,1050,Zoey,Cook,876-678-3471,N,N,100 Clue Drive,,
51,1052,Scarlett,Morgan,123-545-5423,Y,N,27th Main Street,New York,
53,1079,Brandon,Ross,123-545-5424,N,N,2394 Brooklin Avenue,,
54,1055,Luke,Reed,123-543-2347,Y,N,2041 Main Street,,
55,1056,Aria,Bailey,876-678-3471,Y,N,345 City Parkway,,
56,1057,Adam,Bell,304-762-2469,N,N,216 HR Avenue,,
58,1059,Henry,Kelly,123-643-9777,Y,N,123 Paper Avenue,Pennsylvania,
61,1062,Brooklyn,Cox,876-678-3469,Y,N,910 Tatooine Road,Tatooine,
62,1063,Nathaniel,Diaz,876-678-3469,Y,N,910 Tatooine Road,Tatooine,
63,1064,Savannah,Richardson,123-545-5424,Y,N,126 Shire Lane,Shire,
67,1068,Claire,Bennett,876-678-3472,Y,N,126 Dragons Road,,
70,1071,Jonathan,Reyes,876-678-3472,N,N,101 Clue Drive,,
72,1073,Justin,Hughes,123-545-5424,Y,N,28th Main Street,New York,
75,1076,Ellie,Long,123-543-2348,Y,N,2042 Main Street,,
76,1077,Jason,Foster,876-678-3472,Y,N,346 City Parkway,,
77,1078,Nora,Sanders,304-762-2470,N,N,217 HR Avenue,,
79,1080,Peyton,Morales,123-643-9778,Y,N,124 Paper Avenue,Pennsylvania,
82,1083,Zachary,Russell,876-678-3469,Y,N,910 Tatooine Road,Tatooine,
83,1084,Camila,Ortiz,876-678-3469,Y,N,910 Tatooine Road,Tatooine,
84,1085,Connor,Jenkins,123-545-5425,Y,N,127 Shire Lane,Shire,
88,1089,Cole,Barnes,876-678-3473,Y,N,127 Dragons Road,,
91,1092,Maya,Johnson,876-678-3473,N,N,102 Clue Drive,,
93,1094,Penelope,Taylor,123-545-5425,Y,N,29th Main Street,New York,

In [56]:
# Finalmente reseteamos el indice, para una lectura ordenada
df.reset_index(drop=True)

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Street,State,Zip_Code
0,1001,Michael,Smith,123-545-5421,Y,N,123 Shire Lane,Shire,
1,1005,James,Anderson,876-678-3469,Y,N,123 Dragons Road,,
2,1008,Jessica,Garcia,876-678-3469,N,N,98 Clue Drive,,
3,1010,Amanda,Wilson,123-545-5421,Y,N,25th Main Street,New York,
4,1016,Sophia,Martin,123-545-5421,N,N,2394 Brooklin Avenue,,
5,1013,Daniel,Jackson,123-543-2345,Y,N,2039 Main Street,,
6,1014,Elizabeth,White,876-678-3469,Y,N,343 City Parkway,,
7,1015,Matthew,Harris,304-762-2467,N,N,214 HR Avenue,,
8,1017,Christopher,Thompson,123-643-9775,Y,N,121 Paper Avenue,Pennsylvania,
9,1020,Olivia,Young,876-678-3469,Y,N,910 Tatooine Road,Tatooine,
10,1021,Joshua,Clark,876-678-3469,Y,N,910 Tatooine Road,Tatooine,
11,1022,Hannah,Hall,123-545-5422,Y,N,124 Shire Lane,Shire,
12,1037,Joseph,Phillips,123-545-5422,N,N,2394 Brooklin Avenue,,
13,1026,Isabella,King,876-678-3470,Y,N,124 Dragons Road,,
14,1029,Noah,Adams,876-678-3470,N,N,99 Clue Drive,,
15,1031,Nathan,Hill,123-545-5422,Y,N,26th Main Street,New York,
16,1034,Madison,Mitchell,123-543-2346,Y,N,2040 Main Street,,
17,1035,Benjamin,Roberts,876-678-3470,Y,N,344 City Parkway,,
18,1036,Ava,Carter,304-762-2468,N,N,215 HR Avenue,,
19,1058,Layla,Gomez,123-545-5423,N,N,2394 Brooklin Avenue,,
20,1038,Natalie,Evans,123-643-9776,Y,N,122 Paper Avenue,Pennsylvania,
21,1041,Logan,Parker,876-678-3469,Y,N,910 Tatooine Road,Tatooine,
22,1042,Lily,Collins,876-678-3469,Y,N,910 Tatooine Road,Tatooine,
23,1043,Elijah,Edwards,123-545-5423,Y,N,125 Shire Lane,Shire,
24,1047,Gabriel,Nguyen,876-678-3471,Y,N,125 Dragons Road,,
25,1050,Zoey,Cook,876-678-3471,N,N,100 Clue Drive,,
26,1052,Scarlett,Morgan,123-545-5423,Y,N,27th Main Street,New York,
27,1079,Brandon,Ross,123-545-5424,N,N,2394 Brooklin Avenue,,
28,1055,Luke,Reed,123-543-2347,Y,N,2041 Main Street,,
29,1056,Aria,Bailey,876-678-3471,Y,N,345 City Parkway,,
30,1057,Adam,Bell,304-762-2469,N,N,216 HR Avenue,,
31,1059,Henry,Kelly,123-643-9777,Y,N,123 Paper Avenue,Pennsylvania,
32,1062,Brooklyn,Cox,876-678-3469,Y,N,910 Tatooine Road,Tatooine,
33,1063,Nathaniel,Diaz,876-678-3469,Y,N,910 Tatooine Road,Tatooine,
34,1064,Savannah,Richardson,123-545-5424,Y,N,126 Shire Lane,Shire,
35,1068,Claire,Bennett,876-678-3472,Y,N,126 Dragons Road,,
36,1071,Jonathan,Reyes,876-678-3472,N,N,101 Clue Drive,,
37,1073,Justin,Hughes,123-545-5424,Y,N,28th Main Street,New York,
38,1076,Ellie,Long,123-543-2348,Y,N,2042 Main Street,,
39,1077,Jason,Foster,876-678-3472,Y,N,346 City Parkway,,
40,1078,Nora,Sanders,304-762-2470,N,N,217 HR Avenue,,
41,1080,Peyton,Morales,123-643-9778,Y,N,124 Paper Avenue,Pennsylvania,
42,1083,Zachary,Russell,876-678-3469,Y,N,910 Tatooine Road,Tatooine,
43,1084,Camila,Ortiz,876-678-3469,Y,N,910 Tatooine Road,Tatooine,
44,1085,Connor,Jenkins,123-545-5425,Y,N,127 Shire Lane,Shire,
45,1089,Cole,Barnes,876-678-3473,Y,N,127 Dragons Road,,
46,1092,Maya,Johnson,876-678-3473,N,N,102 Clue Drive,,
47,1094,Penelope,Taylor,123-545-5425,Y,N,29th Main Street,New York,